{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="category.html">Catégorie</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sous catégorie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% include "aside/_aside.html.twig" %}
            <div class="col">
                <div class="row">
                    {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('img/' ~ product.urlImage) }}" alt="{{ product.name }}">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ path('product_show', { slug : product.slug, id : product.id}) }}" title="View Product">Produit</a></h4>
                                <p class="card-text">{{ product.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="btn btn-danger btn-block">{{ product.price }}&euro;</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-success btn-block">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Précédent</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Suivant</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
