{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <img class="img-fluid" src="{{ asset('img/' ~ product.urlimage) }}" />
                            <p class="text-center">Zoom</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add to cart -->
            <div class="col-12 col-lg-6 add_to_cart_block">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        {% if product.specialoffer == 0 %}
                        <p class="price_discounted">{{product.specialoffer/100 * product.price }} &euro;</p>
                        <p class="price_discounted">{{ product.price }} &euro;</p>
                        {% else %}
                        <p class="price_discounted">{{product.specialoffer/100 * product.price }} &euro;</p>
                        <p class="price_discounted"><s>{{ product.price }}</s> &euro;</p>
                        {% endif %}

                        <form method="get" action="">
                            <div class="form-group">
                                <label for="colors">Couleur</label>
                                <select class="custom-select" id="colors">
                                    <option selected>Choisir</option>
                                    {% for index, color in product.colorlist %}
                                        <option value="{{index}}">{{ color }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quantité :</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                    <div class="input-group-append">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-success btn-lg btn-block text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Ajouter au panier
                            </a>
                        </form>
                        <div class="product_rassurance">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br/>Livraison rapide</li>
                                <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br/>Paiement sécurisé</li>
                                <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br/>+33 1 22 54 65 60</li>
                            </ul>
                        </div>
                        <div class="reviews_product p-3 mb-2 ">
                            {{countReview}} avis
                            {% for i in 1..5 %}
                                {% if i <= mark %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                {% endif %}
                            {% endfor %}
                            
                            ({{ mark }}/5)
                            <a class="pull-right" href="{{ path('product_list') }}">Voir tous les avis</a>
                        </div>
                        <div class="datasheet p-3 mb-2 bg-info text-white">
                            <a href="" class="text-white"><i class="fa fa-file-text"></i> Télécharger la fiche produit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Description -->
            <div class="col-12">
                <div class="card border-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ product.description }}
                        </p>
                    </div>
                </div>
            </div>

            <!-- Reviews -->
            <div class="col-12" id="reviews">
                <div class="card border-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Avis</div>
                    <div class="card-body">
                        {% for review in product.reviewslist %}
                            <div class="review">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <meta itemprop="datePublished" content="01-01-2016">{{ review.creationreview|date('d/m/Y') }}

                                {% for i in 1..5 %}
                                    {% if i <= review.mark %}
                                        <i class="fa fa-star"></i>
                                    {% else %}
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                              {{review.user.username}}
                                <p class="blockquote">
                                <p class="mb-0">{{ review.comment }}</p>
                                </p>
                                <hr>
                            </div>
                        {% endfor %}

                        {{ form_start(formReview) }}
                            
                            <div class="form-group">
                                {{ form_label(formReview.mark, null, {
                                    'label_attr': {'class': ''}
                                    }) }}
                                {{ form_widget(formReview.mark, {'attr': {'class': 'form-control'}}) }}
                            </div>
                                
                            <div class="form-group">
                                {{ form_label(formReview.comment, null, {
                                    'label_attr': {'class': ''}
                                    }) }}
                                {{ form_widget(formReview.comment, {'attr': {'class': 'form-control'}}) }}
                            </div>
                               

                            <button class="btn btn-primary" formnovalidate>Envoyer</button>
                        {{ form_end(formReview) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
